{% extends 'crm.html.twig' %}

{% block titleH1 %}Администраторы{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="/crm">Главная</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Администраторы
    </li>
{% endblock %}


{% block content %}
<!-- ========== table components start ========== -->
      <section class="table-components">
        <div class="container-fluid">
          
          <!-- ========== tables-wrapper start ========== -->
          <div class="tables-wrapper">

            <div class="row">
              <div class="col-lg-12">
                <div class="card-style mb-30">
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th><h6>#</h6></th>
                          <th><h6>Email</h6></th>
                          <th><h6>Роли</h6></th>
                          <th><h6>Статус</h6></th>
                          <th><h6>Действия</h6></th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        {% for admin in admins %}
                            <tr>
                            <td>
                                <div class="employee-image">
                                <img src="#" alt="" />
                                </div>
                            </td>
                            <td class="min-width">
                                <p><a href="#">{{ admin.email }}</a></p>
                            </td>
                            <td class="min-width">
                                {% for role in admin.roles%}
                                    <p>{{ role }}</p>
                                {% endfor %}
                            </td>
                            <td class="min-width">
                                {% if admin.enabled %}
                                    <span class="status-btn active-btn">Разрешен</span>
                                {% else %}
                                    <span class="status-btn close-btn">Запрещен</span>
                                {% endif %}    
                            </td>
                            <td>
                                <div class="action">
                                <button class="text-danger">
                                    <i class="lni lni-trash-can"></i>
                                </button>
                                </div>
                            </td>
                            </tr>
                        {% endfor %}
                        <!-- end table row -->
                      </tbody>
                    </table>
                    <!-- end table -->
                  </div>
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== tables-wrapper end ========== -->
        </div>
        <!-- end container -->
      </section>
      <!-- ========== table components end ========== -->
{% endblock %}